body {
    margin: 20px 0;
    padding: 20px 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: radial-gradient(circle, rgba(113, 14, 138, 0.6) 0%,
            /* สีม่วงอ่อนตรงกลาง */
            rgba(0, 0, 0, 1) 70%);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    flex-wrap: nowrap;
    flex-direction: column;

    .w {
        color: white;
    }

    .glow {
        color: white;
        /* background-color: aliceblue; */
    }

    .glow:hover {
        text-shadow: 0 0 30px #ffffff;
    }

    .container {

        max-width: 56rem;

        .cers {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            .cer-img {
                border-radius: 10px;
                margin: 20px 0;
                box-shadow: 4px 4px 3px #b8b8b8;
            }
            .cer-img:hover {
                border-radius: 10px;
                margin: 20px 0;
                box-shadow: 4px 4px 30px #b8b8b8;
                transition: 1s;
            }

        }
    }
}