body {
    margin: 20px 0;
    padding: 20px 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;


    height: 100vh;
    width: 100%;
    background-image: url('../../assets/gregoire-jeanneau-9sxeKzuCVoE-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;



    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    flex-wrap: nowrap;
    flex-direction: column;

    .w {
        color: white;
    }

    .glow {
        color: white;
        /* background-color: aliceblue; */
    }

    .glow:hover {
        text-shadow: 0 0 30px #ffffff;
    }

    .container {

        max-width: 56rem;

        .cers {
            display: flex;
            flex-direction: column;
            align-items: stretch;



            .cer-img {
                border-radius: 10px;
                margin: 20px 0;
                box-shadow: 4px 4px 3px #b8b8b8;
            }

            .cer-img:hover {
                border-radius: 10px;
                margin: 20px 0;
                box-shadow: 4px 4px 30px #b8b8b8;
                transition: 1s;
            }



        }
    }
}

.button {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

.nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    max-height: 50px;

    background: linear-gradient(to right, (#062744, 0.9), (#010d1d, 0.9));
    margin: -20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 0;
    backdrop-filter: blur(10px);
    /* เพิ่มฟิลเตอร์เบลอ */

}


/* 
.nav-link {
    color: #0c66e9;
} */