body {
    margin: 20px 0;
    padding: 20px 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;


    height: 100vh;
    width: 100%;
    background-image: url('../../assets/gregoire-jeanneau-9sxeKzuCVoE-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;



    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    flex-wrap: nowrap;
    flex-direction: column;

    .w {
        color: white;
    }

    .glow {
        color: white;
        /* background-color: aliceblue; */
    }

    .glow:hover {
        text-shadow: 0 0 30px #ffffff;
    }

 
}
.nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: linear-gradient(to right, #062744, #010d1d);
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}